.cards_section h1 {
  font-size: 12px;
  font-weight: 600;
  background-color: #f5ed63;
  color: black !important;
  width: 120px;
  margin: 20px auto !important;
  padding: 4px !important;
  border-radius: 20px;
  text-align: center;
}

.cards_section .progress_bar {
  background-color: black;
  height: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.cards_section .progress_bar_track {
  height: 100%;
  width: 0%;
  background-color: #f5ed63;
  transition: width 0.3s ease-in;
}
